.alquilar-wrapper{
    padding-left: 50px;
    width: 50%;
    float: right;
    text-align: center
}
.alquilar-form-wrapper{
    margin-top: 50px;
}

.fecha_recogida label{
    color: #000;
    font-family: Arial Black;
}

.fecha_devolucion label{
    font-family: Arial Black;
    color: #000;
}
.img_ficha_vehiculo{
  width: 50%;
  float: left;
}
.descripcion_ficha_vechiculo{
  text-align: center;
  width: 33.33%;
  float: left;
}
.info_ficha_vehiculo{
  width: 50%;
  margin-top: 50px;
  text-align: center;
  float: left;
}

#submit-alquilar{
    letter-spacing: 2px;
    font-size: 20px;
}

#limpiar-fechas {
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 50px;
    font-size: 16px;
}

.tabla_info_ficha_vehiculo {
    margin-top: 30px;

    width: 100%;

    margin-bottom: 30px;
}
