/* *{
  margin:0;
  padding: 0;
} */

.boton_inicio_buscador{
    /*float: right;
    margin: 0 auto;*/
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    /*float: right;
    margin-right: 450px;
    margin-top: 50px;*/

}

.button-filter{
      width: 100%;
}

.buscador_fechas_index h3{
  font-family: arial black;
  font-size: larger;
}

.buscador_fechas_index{
  width: 100%;

  text-align: center;
  padding: 5%;
  background: transparent url(../img/carretera.jpg) no-repeat center 0;
  background-size: 100%;
  
}

#datepickeralquiler{
  width: 30%;
  height: 38px;
  margin-left: 93px;
  margin-top: 35px;
  padding-top: 20px;

}
#datepickerdevolucion{
  width: 30%;
  margin-left: 45px;
  padding-top: 5px;
}

.buscador_fechas_index p{
  font-family: helvetica;
  font-weight: bolder;
}



body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'jaldi', sans-serif;
}

* {
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
  -webkit-transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, opacity, text-shadow, -webkit-box-shadow, -webkit-transform;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}


h4 {
  /* margin:0;
  padding: 0; */
}

.img_ficha_vehiculo{
  width: 33.33%;
  float: left;
}
.descripcion_ficha_vechiculo{
  text-align: center;
  width: 33.33%;
  float: left;
}
.info_ficha_vehiculo{
  width: 33.33%;
  text-align: center;
  float: left;
}

.font_header{
  font-family: impact;
  font-size: 23px;
  color: white;
}
header div.saludo {
  width: 100%;
  font-family: impact;
  text-align: right;
  font-size: 15px;
  color: white;
}
.font_info{
  font-family: impact;
}

.right_sidebar_contacto{
  float: right;
}

.font_contacto{
  font-family: impact;
  color: red;
}

.contacto_letra{
  font-weight: bold;
}

a {
  text-decoration: none;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
  height: 15px;
}

.font_log{
  font-family: impact;
  color: #000000;
  text-align: center;
}

#sidebar-right {
  background-color: pink;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.fondo {
  background-image: url('../img/fondo.jpg');
  background-size: cover;
}

.listado_vehiculos{
  height: auto;
  width: 65%;
  border: 3px solid #000000;
}

.font_info{
  font-family: impact;
}

.contacto_frase{
  text-align: center;
}

.login{
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 20%;
  height: 40%;
  border: 3px solid #000000;
  padding: 30px;
  background-color: #f17357;
}
.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}

.container_cards {
  /* max-width: 1100px; */
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin: 0 auto;
  padding-top: 1%
}

#contenido {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

#contenido_view {
  width: 80%;
  margin:auto;
      padding-bottom: 1%;
    padding-top: 1%;
}

#contenido_contacto {
  width: 80%;
  margin:auto;
      padding-bottom: 1%;
    padding-top: 1%;
}

#contenido_index {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin:0 auto;
      padding-bottom: 1%;
    padding-top: 1%;

}
#contenido_index .text_index {
      padding-left: 2.5%;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* cambia a lo especificado si los pixeles de la pantalla no superan 640px, por si queremos
meter mas elementos en el container*/

@media all and (max-width: 640px) {
  #container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  -ms-flex-direction: column;
      flex-direction: column;
  }
  #contenido {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #sidebar-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #sidebar-filter {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
.navi-logo-item{
  padding: 5px;
 display: inline-block;
  /*height: 100%;*/
  border-bottom: 5px solid transparent;
}

.navi-logo {
  
    margin: 0 auto;
    width: auto;
    float: left;

}

.nav-bar{
      width: 85%;
    margin: 0 auto;
}


.img_logo{
    padding-top: 3%;
}

.navi-items-div{
      display: inline-block;
    margin: 0 auto;
        width: auto;

}
.navi-logo-item a{
  padding-top: 0px;
}

.navi-menu-item{
     
  display: inline-block;
  /*height: 100%;*/

}


.navi-login-item{
  float: right;
  padding-right: 70px;
  height: 100%;
 /* padding-top: 30px;*/
}

.top-bar{
     width: 100%;
    margin-top: 1%;
    background-color: #333;
    text-align: right;
}

.navi-items{
  padding-left: 0px;
  list-style-type: none;
  background-color: #333;
  width: 100%;
  text-align: center;
}

.navi-item > li {
    
}

.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-family: 'jaldi',sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



.active {
    background-color: red;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

input[type=text], select, textarea {
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    margin: auto;
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea.descripcion{
  height: 50px;
}

.container_register{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 25px;
}

.container_login{
  margin: auto;
  margin-top: 11%;
  margin-bottom: 11%;
  width: 30%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 25px;
}

.img_redes{
  padding: 2px;
  max-width: 20px;
  max-height: 20px;
}

.container_contacto{
  margin: auto;
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 25px;
  display: inline-block;
}

.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-25 label {
  float: right;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.form_error_span {
    text-align: center;
    font-weight: bold;
    color: red;
}

/* the modal (background) */
.modal {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    padding-top: 100px; /* location of the box */
    left: 0;
    top: 0;
    width: 100%; /* full width */
    height: 100%; /* full height */
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.4); /* black w/ opacity */
}

/* modal content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* the close button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

ol, ul {
    list-style: none;
}


/* footer and socail bar styles */
 .social_email_wrapper {text-align: center; width: 100%;padding-top: 2%;}
 #resource_wrapper{background: none;}
 #footer_wrapper{background: none;background-color:#333;}

.legal_list li {
    padding: 5px;
    text-align: center;
}
#legal_box a {
    color: #686868;
    font-size: 13px;
}
.legal_list ul {
        float: left;
    margin: 10px 0;
    overflow: hidden;
    width: 200px;
    /* padding-left: 0px; */
}

.social_list{float:left;padding:21px 5px 22px 11px;margin: 0;}


 .social_list li{float:left;padding:0 19px 0 0;height:23px;width:auto;}
 .social_list li.social_heading{color: #4977a5;font-size: 19px;margin-top: 10px;}
 .social_copy{float:left;padding-top:4px;font-size:14px;}
 .social_list a div{float: left;height: 32px;margin-right: 8px;background-image: url('../img/ic_social32.png');}
 .social_twittericon{background-position: 0px 0;width:32px;}
 .social_facebookicon{background-position: -32px 0;width:32px;}
 .social_youtubeicon{background-position: -64px 0px;width:32px;}
 .social_rssicon{background-position: -96px 0;width:32px;}
 .social_mobileicon{background-position: -129px 0px;width:32px;}
 .social_blackberryicon{background-position: -162px 0px;width:34px;}
 .social_androidicon{background-position: -197px 0px;width:28px;}
 .social_iphoneicon{background-position: -227px 0px;width:17px;}
 .social_gplusicon{background-position: -245px 0;width:32px;}
 .social_instagramicon{background-position: -377px 0;width:32px;}
 .social_pinteresticon{background-position: -278px 0;width:32px;}
 .social_odnokicon{background-position: -312px 0;width:32px;}
 .social_vkicon{background-position: -345px 0;width:32px;}
 .footer_box {border-top: 0px solid #ddd;margin: 0 auto;width: 960px;}

/* footer columns legal box */
 #legal_box a{color: #b6b6b6;text-decoration: none;}
 #legal_box a:hover{color: #4caf50;}
 .footer_text_links {float:left; width: 950px; padding-left:10px;-moz-column-count: 1; -moz-column-gap: 20px; -webkit-column-count: 1; -webkit-column-gap: 20px; column-count: 1; column-gap: 20px;color: #b6b6b6;}
 .footer_text_links ul li:first-child {text-transform: none;margin-bottom: 0;}
 .legal_one li,   .legal_two li,   .legal_three li, .legal_four li {list-style:none;}
 .legal_one li span,   .legal_two li span,   .legal_three li span,   .legal_four li span {float: left;}
 .footer_text_links .legal_one {float: left;width:230px;}
 .footer_text_links .legal_one ul {float: left;}
 .one_list_one {width: 110px !important;float: left;}
 .one_list_two {width: 110px !important;float: left;margin-left: 10px;}
 .footer_text_links .legal_two {float: left;width:225px;}
 .footer_text_links .legal_two ul {float: left;}
 .one_list_three {width: 215px !important;float: left;}
 .footer_text_links .legal_three {float: left;width:336px;}
 .footer_text_links .legal_three ul{float: left;}
 .two_list_one {width: 158px !important;float: left;}
 .two_list_two {width: 158px !important;float: left;margin-left: 10px;}
 .footer_text_links .legal_four {float: left;width:159px;}
 .footer_text_links .legal_four ul{float: left;}
 .three_list_one {width: 153px !important;float: left;}
 .footer_text_links li {line-height: 150%;}
 .footer_text_links div > ul > li:first-child {text-transform: uppercase;margin-bottom: 5px;}

.aus .footer_text_links .legal_one, .aus .footer_text_links .legal_two, .aus .footer_text_links .legal_three,
.nzl .footer_text_links .legal_one, .nzl .footer_text_links .legal_two, .nzl .footer_text_links .legal_three {width:33%;text-align: center;}
.aus .footer_text_links .legal_one ul, .aus .footer_text_links .legal_two ul, .aus .footer_text_links .legal_three ul,
.nzl .footer_text_links .legal_one ul, .nzl .footer_text_links .legal_two ul, .nzl .footer_text_links .legal_three ul {float: none;}

/* footer credits box */
 #cred_box {width: 920px;margin: 0 auto;padding: 10px 20px;color: #b6b6b6;border-top: 1px solid #ddd;}
 #cred_box div{float: left;padding:15px 25px 20px 0;}
 #cred_box a{color: #b6b6b6;text-decoration: none;}
 #cred_box a:hover{color: #3295da;}
 
#cred_box {
    width:100%;
    margin: 0 auto;
    padding: 0 10px;
}

#social_box {
    width: 100%;
    margin: 0 auto;
}

.cred_copy{float:left;width:195px;padding:20px 20px 10px 0;border-right:1px solid #ccc;}
.cred_copy h4{font-size:14px;padding:0 0 5px 0;}
.cred_list{text-align: center; padding: 20px 0;}
.cred_list li{display: inline-block;     padding-left: 8%;
    padding-right: 8%;}
.cred_list_ssl{float:left;padding:20px 0 0px 120px;}
.cred_list_ssl li{float:left;padding:0 80px 20px 0;}


#cred_wrapper {
    width: 100%;
    display: inline-block;
    background-color: #fff;
}


#footer_content {
    text-align: center;
    width: 100%;
}
#legal_content {
         display: inline-block;
    /* margin: 0 auto; */
    padding: 20px 0;
    /* width: auto; */
    min-height: 50px;
}
.legal_list {
      width: auto;
}

.legal_list li {
    padding: 5px;
    text-align: center;
}

.social_emailwrapper {
        display: inline-block;
    padding: 10px 0 10px 20px;
        padding-top: 5px;
    padding-bottom: 25px;
    border-left: 1px solid #ccc;
}

.icons {
      display: inline-block;
    margin: 0 auto;
}
.social_emailwrapper label {
    float: left;
    color: #4977a5;
    font-size: 14px;
    padding: 4px 0 8px 0px;
}

.email_btn {
    float: left;
    width: 74px;
    margin: 2px 0px 0px 10px;
    padding: 6px 7px;
    color: #fff;
    background-color: #4caf50;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    overflow: visible;
}

.social_emailwrapper input {
    float: left;
    width: 175px;
    font-size: 12px;
    color: #4977a5;
    padding: 6px 5px;
    border-radius: 5px;
    border: 1px solid #d6d7d9;
}



body {
  background: #f0f0f0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent url(../img/fondo_listcar.png) repeat-y 62% 0;
}

.symbol_list_car{
  width: 10%;
  display: inline-block;
}

.info_list_car{
  /* display: inline-block;
  margin: 0;
  vertical-align: top; */

   /*height: 100%;*/

}

.info_list_car p {
  display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    /* margin-left: 2px; */
}


.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  /* background: #fefff9; */
  color: #363636;
  text-decoration: none;
  /* -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0; */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; */

}
@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .card {
    max-width: 320px;
    min-width: 280px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card:nth-child(even) {
    /*margin-right: 0;*/
  }
}
@media (min-width: 980px) {
  .card:nth-child(even) {
    margin-right: 20px;
  }
  .card:nth-child(3n) {
    margin-right: 20px;
  }
}
.card span {
  display: block;
}



.card .card-summary  {
  margin-left: 10px;
margin-top: 10px;
  /* padding: 5% 5% 3% 5%; */
  font-size: 0.9em;
  text-align: center;
  padding: 10px 15px;
    border-left: 1px solid #aaa;
}

.card .card-header {
  position: relative;
  height: 185px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.05);
  background-blend-mode: overlay;
  border-radius: 4px 4px 0 0;
}
.card .card-header:hover, .card .card-header:focus  {
  background-color: rgba(255, 255, 255, 0);

}
.card .card-title {
  background: rgba(0, 0, 0, 0.60);
  padding: 3% 0 2.5% 0;
  color: white;
  /* font-family: "futura-pt",arial,helvetica,verdana,sans-serif; */
  /* text-transform: uppercase; */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ctaflat {
    background-color: #e0ff00;
    padding: 5px 15px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    font-family: "futura-pt",arial,helvetica,verdana,sans-serif;
    color: #333;
    font-size: 20px;
    font-weight: 800;
    margin-top: 6px;
}

.card .card-title h3 {
  font-size: 1.1em;
line-height: 1.1;
padding: 0 3.5%;
margin: 0;
padding-bottom: 6%;
}

.card:hover .ctaflat {
  color:green;
}

.card:hover, .card:focus {
  background: white;
  border-radius: 3px;
  border: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.card:hover .card-title, .card:focus .card-title {
  background: rgba(76, 175, 80, 0.95);

}
.card:hover .card-meta, .card:focus .card-meta {
  max-height: 1em;
}

img {
  max-width: 100%;
}


.date_filter{
  
<<<<<<< HEAD
} 
=======
}

/* Css noticias*/

h1 {
  font-family: Merriweather, Times, serif;
  font-weight: 700;
  
}

#id_autor {
  font-weight:900;
  color: red;
  text-transform: uppercase;
}

.container_crear_noticia {
    margin: auto;
        margin-top: auto;
        margin-bottom: auto;
    margin-bottom: 11%;
    width: 80%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-40 {
    float: right;
    width: 40%;
    margin-top: 6px;
}

/*.col-10 {
    float: left;
    width: 10%;
    margin-top: 6px;
}*/

.boton{
      text-align:center;
      text-decoration: none;
      font-family: 'Jaldi', sans-serif;
      display:inline-block;
      color: #FFF;
      padding: 7px 20px;
      border-radius: 100px;
      margin: 10px 5px;
}
   
.crear_noticiaB{
  background: #4CAF50;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-65 {
    float: left;
    width: 65%;
    margin-top: 6px;
}

.col-35 {
    float: right;
    width: 35%;
    margin-top: 6px;
}

.row_lg {
    border-bottom: 5px solid #d7d7d7;
}

.row_lw {
    border-bottom: 20px solid #f0f0f0;
}
>>>>>>> f2f3b3b4aaf57e49cc546ff2d073f89b58df7464
