/* *{
  margin:0;
  padding: 0;
} */

body {
  background-color: white;
}

header {
  height: 10%;
  background-color: lightblue;
}

header div.saludo {
  width: 100%;
  text-align: right;
}

footer {
  background-color: lightgreen;
  height: 5%;
}

nav {
  background-color: lightgray;
  height: auto;
}

.fondo {

  background-image: url('../img/fondo.jpg');
  /* Set rules to fill background */
  min-height: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
}

.login{
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 30%;
  border: 3px solid #73AD21;
  padding: 30px;
  background-color: lightblue;
}

h3{
  text-align: center;
  height: 15px;
}

.login_username{
  width: 100%;
}
.login_password{
  width: 100%;
}
.login_boton {
  height: 30px;
  width: 100%;
}

#sidebar-right {
  background-color: pink;
  flex-basis: 20%;
}

#contenido {
  flex-basis: 80%;
}

#container {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  min-height: 80%;
}

/* cambia a lo especificado si los pixeles de la pantalla no superan 640px, por si queremos
meter mas elementos en el container*/

@media all and (max-width: 640px) {
  #container {
    flex-flow: column;
  }
  #contenido {
    order: 1;
  }
  #sidebar-right {
    order: 2;
  }
}
